{% set title = "About Us" %}
{% extends master %}
{% block content %}
<article>
    <h2>Company Mission Statement</h2>

    <p>
        Our mission is to provide the highest quality ambulance
        service to our patients and their loved ones to truly
        make a difference in their treatment. Our care will be
        individualized and family oriented. We will use state
        of the art equipment and progressive training.
    </p>

    <h2>Company Values</h2>

    <ul>
        <li>
            <strong>Respect</strong> – We believe in respecting the treatment
            choices and decisions of our patients and their
            family members. We also believe in a collaborative
            relationship with all colleagues.
        </li>
        <li>
            <strong>Quality</strong> - We believe in using state of the art
            equipment and progressive training to ensure quality
            care.
        </li>
        <li>
            <strong>Value</strong> – We believe in providing high quality care in
            a timely and cost effective manner.
        </li>
        <li>
            <strong>Compassion</strong> – We believe in treating all patients,
            and their families, as members of our family.
        </li>
        <li>
            <strong>Integrity</strong> – We believe that honesty is the foundation
            of all good relationships.
        </li>
    </ul>

    <h2>Company Philosophy</h2>

    <p>
        Tri-County Ambulance Service, Inc can be distinguished
        from its competition by its rigorous and passionate
        commitment to excellent customer service. This was a
        founding principal of the company and remains a
        cornerstone of our philosophy today.
    </p>


    <p>
        It is our unwavering goal to provide;
    </p>
    <ol>
        <li>
            Technically proficient patient care based on sound
            training and good judgment using quality equipment
        </li>
        <li>
            Compassionate and attentive interactions, on a human
            level, with all whom we care for
        </li>
        <li>
            Friendliness and professional courtesy to staff,
            incidental contacts, each other, and members of
            competing organizations alike

        </li>
        <li>
            A strong emphasis on a neat and pleasing appearance
        </li>
        <li>
            An abiding commitment to timeliness
        </li>
        <li>
            A strong emphasis on the appearance and cleanliness
            of our vehicles and equipment
        </li>
        <li>
            An abiding commitment to safety
        </li>
    </ol>
</article>
{% endblock %}