{% set title = "Advanced Life Support" %}
{% import "html.twig" as html %}
{% extends master %}
{% block content %}
<article>
    <h3>Advanced Life Support (ALS)</h3>
    <p>
        ALS units are utilized in a variety of ways.
        They are equipped to handle emergencies and are
        staffed by a Licensed Paramedic, in
        addition to an EMT.
    </p>
    <div style="float: right;">
        {{ html.Photo("DSC_0034-als.png", 475) }}
    </div>
    <p>
        These trucks are called to service the full
        spectrum of ambulance transport. They may
        transport patients into the hospital from a
        residence or a nursing facility. They are used
        for transfers from smaller community hospitals
        to regional specialty centers for access to
        higher levels of care. While they can be
        assigned to complete a BLS call, they are also
        the primary response to any emergency call,
        including 9-1-1 services.
    </p>
    <h4>Tri-County's ALS Ambulances Feature</h4>
    <ul style="list-style-type: disc;">
        <li>Indiana and nationally Licensed Paramedics and EMTs</li>
        <li>Radio Communication</li>
        <li>Computer Aided Dispatching (CAD)</li>
        <li>GPS tracking and in-cab guidance</li>
        <li>Powered cots with 700lbs capacity</li>
        <li>Cardiac monitoring, with 12-lead ECG capability</li>
        <li>Automated vital sign monitoring, including SPO2 and ETCO2 monitoring</li>
        <li>Oxygen equipment, including advanced airway devices</li>
        <li>BiPAP, CPAP, Ventilator Capabilities</li>
        <li>Ventilators, both mechanical and pressure-cycled</li>
        <li>Advanced medications and Standing Orders</li>
    </ul>
    <h2 style="text-align: center;">Call 1-888-606-5050 to schedule services.</h2>
</article>
{% endblock %}