{% set title = "Basic Life Support" %}
{% import "html.twig" as html %}
{% extends master %}
{% block content %}
    <article>
        <h3>Basic Life Support (BLS)</h3>
        <p>
            Utilized primarily for transport of stable patients,
            BLS units are staffed by two Emergency Medical
            Technicians(EMT). Certified by the state of Indiana,
            all of our EMTs are trained to care for the sick and
            injured.
        </p>
        <div style="float: right;">
            {{ html.Photo("DSC_0023-bls.png", 475) }}
        </div>
        <p>
            These providers may transport patients to/from medical
            appointments when other methods of transport may not
            be applicable. They can be used for both local and long
            distance transfers. They may also transport patients to
            nursing homes, rehab facilities, and hospice centers
            for continued care.
        </p>
        <p>
            BLS ambulances are very versatile. EMTs can transport
            patients into the hospital as well and assist on
            emergency calls when appropriate.
        </p>
        <h4>Tri-County's BLS Ambulances Feature</h4>
        <ul style="list-style-type: disc;">
            <li>Indiana and nationally certified EMTs</li>
            <li>Radio Communication</li>
            <li>Computer Aided Dispatching (CAD)</li>
            <li>GPS tracking and in-cab guidance</li>
            <li>Powered cots with 700lbs capacity</li>
            <li>Automated External Defibrillators (AED)</li>
            <li>Automated vital sign monitoring</li>
            <li>Oxygen and suction equipment</li>
            <li>Bandaging, splinting, and other specialty equipment</li>
        </ul>
        <h2 style="text-align: center;">
            Call 1-888-606-5050 to schedule services.
        </h2>

    </article>
{% endblock content %}