{% extends master %}
{% set title = "Careers" %}
{% import "html.twig" as html %}
{% block content %}
    <article>
        <h2>Employment Information</h2>
        <div class="flright">
            {{ html.Photo("DSC_0091-ambo.png", 350) }}
        </div>
        <p>
            Are you currently looking for a career with an
            industry leading, steadily growing regional
            provider of ambulance services? Would you like
            to work in a family-operated, family-friendly,
            and service centered environment? You may have
            come to the right place.
        </p>
        <div class="flright">
            {{ html.Photo("DSC_0006-qtrs.png", 300) }}
        </div>
        <p>
            Tri-County Ambulance was started in 1999 with
            one ambulance and two employees. We have always
            committed ourselves to providing high quality
            ambulance services with the comfort of
            individualized and family-oriented care. From
            this humble beginning, Tri-County has rapidly
            grown to become a regional leader in pre-hospital
            and inter-facility ambulance services. We are
            always looking to add proficient, compassionate,
            and respectful members to our team.
        </p>
        <div>
            <h4>Through a career with Tri-County Ambulance Service, Inc. you can look forward to:</h4>
            <ul>
                <li>State of the Art Patient Care Equipment</li>
                <li>Computerized Charting and Scheduling</li>
                <li>Competitive Wages and Benefits</li>
                <li>In-House Training and Continuing Education</li>
                <li>A Well Maintained Fleet of First-Rate Vehicles</li>
                <li>On-site, Computer Aided Dispatching</li>
                <li>A Voice in an Employee Centric, Service Centered Organization</li>
                <li>Access to an On-Site, Fully Equipped Fitness Center</li>
            </ul>
        </div>
        <div class="flright">
            {{ html.Photo("DSC_0107-gym3.png", 350) }}
        </div>
        <div>
            <strong>Applications for employment may be obtained through the link link below,
                or in-person at:
                <a href="http://maps.google.com/maps?daddr=41.526845,-86.007349&hl=en&sll=41.525752,-86.005569&sspn=0.009125,0.016501&vpsrc=0&mra=mift&mrsp=1&sz=16&t=h&z=16">
                    615 Nelsons Parkway, Wakarusa, Indiana 46573
                </a>.
            </strong>
            <p>
                Applications may be submitted by mail, email, or online;
                however, we would encourage you to deliver them
                in-person during weekday office hours. We look
                forward to meeting you and will be happy to
                discuss your future as a member of our family
                and team.
            </p>
            <div class="appl-btns">
                <a class="button" href="/downloads/TCA_Application_REV112013.pdf">Download Form (pdf)</a>
                <div class="ilb button disabled">Apply Online</div>
            </div>
        </div>
        <div class="spacer" style="clear: both;"></div>
    </article>
{% endblock %}