{% extends master %}
{% set title = "Contact" %}
{% block content %}
<article>
    <style>
        article label {
            font-weight: bold;
        }

        #message {
            width: 50%;
            min-height: 200px;
        }

        .bad {
            border: 2px solid red;
            border-left-width: 5px;
            display: inline-block;
        }
    </style>

    <h2>Contact</h2>

    <div style="float: right; max-width: 50%;" class="stdframe">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47792.31640759537!2d-86.01050676502157!3d41.52551228674815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x873522f1ddc43025!2sTri-County+Ambulance+Service!5e0!3m2!1sen!2sus!4v1393905058725" width="400" height="300" frameborder="0" style="border:0"></iframe>
        <a class="button" href="https://www.google.com/maps/place/Tri-County+Ambulance+Service/@41.5255123,-86.0105068,13z/data=!4m7!1m4!3m3!1s0x8816bf50db188875:0x4d34335bfd183fd5!2s615+Nelsons+Pkwy!3b1!3m1!1s0x0:0x873522f1ddc43025">
            Get Directions
        </a>
    </div>

    {% if done %}
        <strong style="color:green;">Your message has been emailed!</strong>
    {% else %}
        <form action="/contact" method="post">
            {% if captchaError %}
                <strong style="color:red;">The captcha was incorrect.</strong>
                <br/><br/>
            {% endif %}

            <label for="to">To:</label>
            <br/>
            <select name="to" id="to">
                {% if form.to is not defined or form.to == "general" %}
                    {% set form_to = "general" %}
                {% else %}
                    {% set form_to = "jeremy" %}
                {% endif %}
                <option value="general"{% if form_to == "general" %} selected=1{% endif %}>General Info & Employment</option>
                <option value="jeremy"{% if form_to == "jeremy" %} selected=1{% endif %}>Jeremy Mast</option>
            </select>

            <br/><br/>

            <div {% if form.name is defined and form.name == "" %} class="bad" {% endif %}>
                <label for="name">Name:</label>
                <br/>
                <input type="text" name="name" id="name" value="{{ form.name }}" required="1"/>
            </div>

            <br/><br/>

            <div {% if form.email is defined and form.email == "" %} class="bad" {% endif %}>
                <label for="email">Email:</label>
                <br/>
                <input type="text" name="email" id="email" value="{{ form.email }}" required="1"/>
            </div>

            <br/><br/>

            <div {% if form.subject is defined and form.subject == "" %} class="bad" {% endif %}>
                <label for="subject">Subject:</label>
                <br/>
                <input type="text" name="subject" id="subject" value="{{ form.subject }}" required="1"/>
            </div>

            <br/><br/>

            <div {% if form.message is defined and form.message == "" %} class="bad" {% endif %}>
                <label for="message">Message:</label>
                <br/>
                <textarea name="message" id="message">{{ form.message }}</textarea>
            </div>

            <input type="hidden" name="real_page_load" id="real_page_load" value="0"/>
            <script>document.getElementById('real_page_load').value = "1";</script>

            <br/><br/>

            <div {% if captchaError %}class="bad"{% endif %}>
                {{ captchaHtml|raw }}
            </div>

            <br/><br/>
            <input type="submit" value="Send"/>

            <br/><br/>
        </form>
    {% endif %}
</article>
{% endblock %}