{% set title = "Facilities" %}
{% set files_css = files_css|merge({"slider": "jquery.bxslider.css"}) %}
{% set files_js = files_js|merge({"slider": "jquery.bxslider.min.js"}) %}
{% import "slider.twig" as slider %}
{% extends master %}
{% block content %}
    <article>
        <h1>Pictures From Our Facilities</h1>

        <div style="width: 600px; margin: 0 auto;">
            {{ slider.Slider([
                "images/photos/DSC_0099-ambo-sign-500.png",
                "images/photos/DSC_0105-gym1.png",
                "images/photos/DSC_0052-washbay.png",
                "images/photos/DSC_0030.png",
                "images/photos/DSC_0027.png",
                "images/photos/DSC_0036.png",
                "images/photos/DSC_0006-qtrs.png",
               ])
            }}
        </div>

    </article>
{% endblock %}