{% set files_css = files_css|merge({"slider": "jquery.bxslider.css"}) %}
{% set files_js = files_js|merge({"slider": "jquery.bxslider.min.js"}) %}
{% import "html.twig" as html %}
{% import "slider.twig" as slider %}
{% extends master %}
{% block content %}
    <article class="only-mobile">
        <a class="button" href="tel:+18886065050">Call Us at 1-888-606-5050</a>
    </article>
    <article class="darkened">
        <p style="text-align: center;">Patients and Call Responses are not an interruption to our day, they are the reason Tri-County Ambulance was created.
    </article>
    <article class="mainslider darkened">
        {{ slider.Slider([
            "/images/header-0.png",
            "/images/header-1.png",
            "/images/header-2.png",
            "/images/header-3.png",
            "/images/header-4.png",
            ])
        }}
    </article>
    <article>
        <h3>A Message From Our Founders</h3>
        <p>
            Tri-County Ambulance Service was started in 1999 with one
            Ambulance and two employees. It has grown to include 14
            ALS Ambulances, 6 Wheelchair vans, and more than 110 employees.
            Our primary service area encompasses Elkhart, St. Joseph,
            and Marshall Counties in Northern Indiana. While these
            three counties constitute our primary pickup area, we
            transport patients all over the Midwest. We routinely
            transfer patients to Indianapolis, Chicago, Ft. Wayne,
            and Cleveland- and occasionally to the Mayo Clinic in
            Rochester, MN and beyond.
        </p>
        <p>
            In-house Dispatchers coordinate and schedule all Ambulance
            and Wheelchair activities. Scheduling a transport is
            both quick and easy.
        </p>
        <p>
            We are a steadily growing company. We believe our growth
            and success is to be attributed to our unique
            {{ html.Link("company philosophy", "/about") }}. We have
            committed ourselves to providing the highest quality ambulance
            service possible to our patients and their families. We treat
            our patients in an individualized and family oriented way, as
            if they were one of our own. We also pride ourselves on the
            relationships that we have built with many local health care
            and nursing facilities. We work very hard to exceed their
            expectations for timely, friendly, and professionally thorough
            service.
        </p>
            <div style="float: right;">
            {{  html.Image(
                    "/images/photos/DSC_0099-ambo-sign.png",
                    500,
                    null,
                    "Paramedic Certified // Basic Life Support // Wheelchair Service"
                )
            }}
            </div>
        <p>
            We are also an employee centered organization. We believe
            that internal success is built by fostering a relationship
            of mutual commitment and respect between Tri-County Ambulance
            and each individual employee. We strive to hold one another
            to the highest standards of professionalism and compassion.
            As a company, Tri-County prides itself on the 'family feel'
            of our workplace.
        </p>
        <p>
            <strong>Our company values can be summarized by the following two statements:</strong>
        </p>
        <ol>
            <li>
                We believe in relating to our patients,
                their family members, our institutional customers,
                and each other with respect, compassion, and integrity.
            </li>
            <li>
                We believe in offering quality care in a timely and cost
                effective manner.
            </li>
        </ol>
        <p>
            Tri-County Ambulance is devoted to meeting the needs of the
            present while preparing for the challenges of the future
            in a familial and professional way.
        </p>
    </article>
{% endblock %}