{% import "html.twig" as html %}
{% extends master %}
{% block content %}
    <article>
        <div style="float: right;">
            {{ html.Photo("DSC_0061-vans-back.png", 475) }}
        </div>
        <h1>Non-Ambulatory (Wheelchair) Transport</h1>
        <p>
            While a majority of calls for service to Tri-County
            are for ambulances, we also offer a fleet of specialty
            vans for non-emergency wheelchair transport.*
        </p>
        <div style="float: right;">
            {{ html.Photo("DSC_0069-vans-front.png", 475) }}
        </div>
        <p>
            Transport of patients with limited mobility can
            sometimes be difficult in a traditional vehicle.
            These units are specifically designed for the
            secure transport of wheelchair capable patients.
            They can accommodate most powered and manual
            wheelchairs while allowing enough room for patients
            to sit upright.
        </p>
        <p>
            All of our wheelchair vans are staffed by
            individually trained and uniquely qualified
            attendants. Our vansfeature raised roofs for
            increased headroom and hydraulic lifts for
            patient convenience. In-house
            dispatchers coordinate and schedule all vans
            and ambulances. Scheduling transport is simple
            and quick.
        </p>

        <h3 style="text-align: center;">Call 1-888-606-5050 to schedule services.</h3>
        <p>
            <em>*Transport by wheelchair van is generally restricted to transport to/from medical facilities.</em>
        </p>

        <br style="clear: both;"/>
    </article>
{% endblock %}