@media (max-device-width: 480px) {
    .stdimg, .stdimg img {
        max-width: 100% !important;
    }

    .no-mobile {
        display: none !important;
    }

    #footer .column {
        width: inherit;
        max-width: 90%;
        float: none;
        display: block;
        border: none;
        border-bottom: 1px solid #CCC;
        overflow: hidden;
        margin: 0 auto;
        padding: 10px;
    }

    #footer .cert {
        text-align: center;
    }

    .submenu {
        height: auto;
        line-height: 10px;
        padding-top: 15px;
    }

    .submenu a {
        border: none !important;
        width: 100%;
    }

    .logo {
        background: url(/assets/img/logo-mobile.png) center center no-repeat;
        background-size: 35px;
        width: 50px;
    }

    .only-mobile {
        display: block !important;
    }

}