html, body {
    margin:0;
    padding:0;
    height:100%;
}

body {
    background: url(/assets/img/sos.png);
    font-family: Helvetica, Arial, sans-serif;
}

article, .article {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: .5em;
    box-shadow: 1px 1px 5px #DDD;
    font-size: 80%;
}

a {
    color: #FF301E;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#container {
    min-height:100%;
    position:relative;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    background: maroon;
    box-shadow: 0px 1px 1px #000;
}

.navbar {
    list-style: none;
    height: 100%;
    padding: 0;
}

.navbar li {
    float: left;
    height: 100%;
    line-height: 55px;
    text-align: center;
}

.navbar .logo a {
    width: 100%;
    padding: 0 !important;
    border: none !important;
}

.navbar li a {
    height: 100%;
    display: inline-block;
    color: white;
    font-size: 0.9em;
    text-decoration: none;
    padding: 0 10px;
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(255, 255, 255, .2);
}

.navbar li a:last-child {
    border-right: none;
}

.navbar li a:hover {
    text-decoration: none;
}

.navbar li.selected a, .navbar li:hover a {
    background: rgba(0, 0, 0, .15);
}

.navbar li.arrowd a {
    background-image: url(/assets/img/topdaddy.png);
    background-position: right 4px top 22px;
    padding-right: 20px;
    background-repeat: no-repeat;
}

.logo {
    width: 150px;
    background: url(/assets/img/logo.png) center center no-repeat;
}

#header {
    z-index: 9999999;
}

#header, .navbar {
    overflow: visible;

    background: #8f3f42; /* Old browsers */
    background: -moz-linear-gradient(top, #8f3f42 0%, #741f21 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8f3f42), color-stop(100%,#741f21)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #8f3f42 0%,#741f21 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #8f3f42 0%,#741f21 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #8f3f42 0%,#741f21 100%); /* IE10+ */
    background: linear-gradient(to bottom, #8f3f42 0%,#741f21 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f3f42', endColorstr='#741f21',GradientType=0 ); /* IE6-9 */
}

#body {
    padding: 10px;
    padding-top: 55px;
    padding-bottom: 175px;   /* Height of the footer */
}

#footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 174px;   /* Height of the footer */
    border-top: 2px solid #CCC;
    background: #f4f4f4;
}

.middleAligned {
    max-width: 960px;
    margin: 0 auto;
}

.column {
    float: left;
    width: 45%;
    font-size: 90%;
}

.column.right {
    float: right;
    width: 35%;
    border-left: 1px solid #CCC;
    margin-top: 1em;
    padding-left: 30px;
}

.column.right.cert {
    width: 10%;
}

.contactlist li {
    list-style: none;
}

.contactlist li.phone {

}

.stdimg {
    padding: 3px;
    border: 1px solid #CCC;
    background: url(/assets/img/sos.png);
    border-radius: 5px;
    margin: 10px;
}

.stdimg img {
    border-radius: 5px
}

.caption {
    border-top: 1px solid #CCC;
    font-size: 90%;
    margin-top: 5px;
    text-align: center;
    padding: 0 5px;
}

#footlogo, #blocker {
    position: absolute;
    top: -25px;
    left: 0;
    height: 50px;
    width: 175px;
}

#blocker {
    top: -2px;
    height: 2px;
    background: #f4f4f4;
    width: 100px;
}

article.mainslider {
    margin-top: 10px;
}

.bx-wrapper img {
    margin: 0 auto;
}

.bx-viewport {
    height: auto !important;
}

ul {
    overflow: hidden;
    zoom: 1;
}

.appl-btns {
    text-align: center;
}

.appl-btns a, .appl-btns div {
    display: inline-block;
    width: 200px;
}

.button, button, input[type=submit] {
    display: block;
    height: 40px;
    background: maroon;
    font-weight: bold;
    color: white;
    line-height: 40px;
    border: 1px solid #CCC;
    margin: 10px;
    padding: 0 10px;
    border-radius: .5em;
    text-align: center;
}

.button:hover, button:hover, input[type=submit]:hover {
    background: rgb(163, 0, 0);
}

.button.disabled {
    background: grey;
    color: #333;
}

.button.disabled:hover {
    cursor: default;
}


.navbar li:hover .submenu {
    display: block;

}

.submenu {
    display: none;
    position: absolute;
    margin: 0;
    top: 55px;
    height: 30px;
    left: 0;
    right: 0;
    color: darkred;
    padding: 0;
    background: floralwhite;
    box-shadow: 1px 1px 1px darkred;
}

.submenu a {
    display: inline-block !important;
    text-align: center;
    padding: 0 15px !important;
    line-height: 30px;
    font-size: 15px !important;
    top: -13px;
    position: relative;
    color: darkred !important;
    background: transparent !important;
}

.submenu a:hover {
    background: rgba(0, 0, 0, 0.15) !important;
}

.navbar li#mainPN a {
    font-size: 90%;
    color: #D8D8D8 !important;
}

.stdframe {
    border: 1px solid #CCC;
    border-radius: .5em;
    box-shadow: 1px 1px 5px #DDD;
    background: rgba(129, 47, 50, 0.87);
}

.darkened {
    background: #d0d0d0;
    font-weight: bold;
    color: #333;
}

.only-mobile {
    display: none;
}

.mainslider .bx-wrapper .bx-viewport {
    background: none;
    box-shadow: none;
    border: transparent;
}

.mainslider .bx-wrapper .bx-pager {
    display: none;
}

.mainslider .bx-wrapper {
    margin: auto;
}

.flright {
    float: right;
    clear: right;
}

.flleft {
    float: left;
    clear: left;
}

.ilb {
    display: inline-block;
}