{% macro Link(text, address) %}
    <a href="{{ address }}">{{ text }}</a>
{% endmacro %}
{% macro Image(url, width, height, caption) %}
    <div class="stdimg">
        <img src="{{ url }}"{#
        #}{% if width is not null %} width="{{ width }}px"{% endif %}{#
        #}{% if height is not null %} height="{{ height }}px"{% endif %}{#
        #}/>
        {% if caption is not null %}
            <div class="caption">{{ caption }}</div>
        {% endif %}
    </div>
{% endmacro %}
{% macro Photo(filename, width) %}
    {% from _self import PhotoCaptioned %}
    {{ PhotoCaptioned(filename, width, null) }}
{% endmacro %}
{% macro PhotoCaptioned(filename, width, caption) %}
    {% from _self import Image %}
    {{ Image("/images/photos/" ~ filename, width, null, caption) }}
{% endmacro %}