{% import "navbar.twig" as navbar %}
{% import "util.twig" as util %}
{% block FULLPAGE %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if title is defined %}{{ title }} // {% endif %}Tri-County Ambulance Service Inc.  //  1-888-606-5050</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=1;" />
    <meta name="description" content="We Provide ALS and BLS ambulance service to the Elkhart, St. Joseph, and Marshall County area." />
    <meta name="keywords" content="tri county ambulance service, elkhart county ambulance, st joseph county ambulance, marshall county ambulance, goshen ambulance, elkhart, goshen, syracuse, milford, warsaw, advanced life support ambulance, basic life support ambulance, wheelchair van service, ambulance transfer, indiana ambulance, indiana ems, elkhart ems, goshen ems, ems" />
    {{ util.css_links(files_css) }}
    <script src="/assets/data/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

<div id="container">
    <nav id="header">
        <ul class="middleAligned navbar">
            <li class="logo"><a href="/"></a></li>
            <li class="no-mobile" {{ navbar.Selected("Home", "/", requestUri) }}> </li>
            <li class="arrowd" {{ navbar.Selected("Services", "", requestUri) }}>
                <div class="submenu">
                    <a href="/advanced-life-support">Advanced Life Support</a>
                    <a href="/basic-life-support">Basic Life Support</a>
                    <a href="/wheelchairs">Wheelchair Transportation</a>
                </div>
            </li>
            <li class="arrowd" {{ navbar.Selected("About Us", "/about", requestUri) }}>
                <div class="submenu">
                    <a href="/about">Who We Are & What We Do</a>
                    <a href="/facilities">Facilities & Equipment</a>
                </div>
            </li>
            <li class="no-mobile" {{ navbar.Selected("Careers", "/careers", requestUri) }}> </li>
            <li class="no-mobile" {{ navbar.Selected("Contact", "/contact", requestUri) }}> </li>
            <li id="mainPN" class="no-mobile" {{ navbar.Selected("1-888-606-5050", "tel:+18886065050") }}> </li>
        </ul>
    </nav>
    <div id="body">
        {% block content %}

        {% endblock %}
        <br style="clear: both;"/>
    </div>
    <footer id="footer">
        <div class="middleAligned">
            <div class="column">
                <h3>Contact Information</h3>
                <p>
                    Tri-County Ambulance Service, Inc can be distinguished
                    from its competition by its rigorous and passionate
                    commitment to excellence and customer service. This
                    was a founding principal of the company and remains
                    a cornerstone of our philosophy today.
                </p>
            </div>
            <div class="column right cert no-mobile">
                <a target="_blank" href="https://sealserver.trustwave.com/cert.php?customerId=w6oj3BWieJrakhjsmKmBsytnOTLBnG&size=105x54&style=">
                    <img height="54px" width="105px" src="https://sealserver.trustwave.com/seal_image.php?customerId=w6oj3BWieJrakhjsmKmBsytnOTLBnG&size=105x54&style=" alt=""/>
                </a>
            </div>
            <ul class="column right contactlist">
                <li><strong>Tri-County Ambulance Service Inc.</strong></li>
                <li>615 Nelsons Pkwy - Wakarusa, IN 46573</li>
                <li class="phone"><a href="tel:+18886065050">1-888-606-5050</a> to Schedule Service</li>
                <li class="phone"><a href="tel:+15748623105">574-862-3105</a> for General Inquries</li>
            </ul>
        </div>
        <div id="blocker"></div>
        <img src="/assets/img/logo-greyed.png" id="footlogo"/>
    </footer>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/data/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
{{ util.js_links(files_js) }}
</body>
</html>
{% endblock %}