{% macro css_links(css_files) %}
    {% for fname in css_files %}
        <link rel="stylesheet" href="/assets/data/css/{{ fname }}"/>
    {% endfor %}
{% endmacro %}
{% macro js_links(js_files) %}
    {% for fname in js_files %}
        <script src="/assets/data/js/{{ fname }}"></script>
    {% endfor %}
{% endmacro %}